* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.login-section {
  background: #e91e63;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top {
  width: 600px;
  height: auto;
  padding: 15px;
  box-sizing: border-box;
  border: 3px solid #fff;
}
.bottom {
  width: auto;
  height: auto;
  border: 3px solid #fff;
  box-sizing: border-box;
  position: relative;
}

.top {
  background: white;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
}
form {
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f6f6f6;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 1px;
  margin: 5px 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.login-button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #b0003a;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.message {
  text-align: center;
  margin-top: 5px;
}
.message a {
  color: #b0003a;
}
.isTeacher {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  margin-top: 5px;
}
#isTeacher {
  display: inline;
  align-items: center;
  margin-left: 5px;
}
small {
  color: red;
}
h2 {
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}
