.chatButton {
  position: fixed;
  bottom: 0;
  right: 50px;
  width: 400px;
  height: 50px;
  padding: 10px 0px;
  background: #ffffff;
  border: 0;
  border-top: 1px solid #ededed;
  font-size: 17px;
  outline: 0;
}
.chatbox-container {
  position: absolute;
  right: 50px;
  bottom: 50px;
  width: 400px;
  height: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  .chatbox-header {
    height: 50px;
    cursor: pointer;
    width: 100%;
    background: #03a9f4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    button {
      width: 20px;
      height: 20px;
      background: 0;
      border: 0;
      color: #ededed;
      margin-right: 20px;
      text-align: center;
    }
  }
  .messages {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    ul {
      margin-bottom: 0;
    }
    .messageContainer {
      width: 100%;
      height: calc(100% - 50px);
      overflow-y: scroll;
      padding: 10px;
      padding-bottom: 0;
    }
    .message-input {
      height: 50px;
      margin-top: auto;
      display: flex;
      padding-top: 5px;
      outline: 0 !important;

      .input,
      .input:focus {
        border-top: 1px solid #ededed;
        height: 100%;
        outline: 0;
      }
      .btn {
        border-radius: 0;
      }
    }
    .message {
      margin-bottom: 10px;
      display: flex;
      &.userMessage {
        justify-content: flex-end;
      }
      .message-container {
        max-width: 50%;
        display: inline-block;
        border-radius: 8px;
        padding: 5px;
        border: 1px solid #ededed;
      }
    }
  }
}
