.classroomDetail{
  width: 720px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: white;
  padding: 30px;
  padding-bottom: 20px;
  border-radius: 10px;
  .actionButtons{
    display: flex;
    justify-content: flex-end;
  }
}